$color-black: #222222;
$color-green: #6c970a;
$color-red: #AE161D;
$color-white: #FFFFFF;
$color-orange: #F48C21;
$color-grey: grey;

$source-font-path: "../fonts/source-sans-pro/" !default;
$arvo-font-path: "../fonts/arvo/" !default;
$font-family-source: "Source Sans Pro";
$font-family-arvo: "Arvo";